/*
 * API микросервиса авторизации
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.auth;

import ru.softlab.efr.services.auth.exchange.model.EmployeeGroupRs;
import ru.softlab.efr.services.auth.exchange.model.ErrorData;
import ru.softlab.efr.services.auth.exchange.model.GroupData;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением auth-service
 **/
@Component
public class EmployeeGroupClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public EmployeeGroupClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "auth-service";
    }


    /**
     * Создание записи в справочнике групп пользователей
     * POST /auth/v1/groups
     *
     * @param groupData Данные записи справочника групп пользователя (optional)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public GroupData createGroup(GroupData groupData, long timeout) throws RestClientException {
        return createGroup(groupData).get(timeout);
    }

    /**
     * Создание записи в справочнике групп пользователей асинхронно
     * POST /auth/v1/groups
     *
     * @param groupData Данные записи справочника групп пользователя (optional)
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<GroupData> createGroup(GroupData groupData) throws RestClientException {
        return new ClientRestResult<>(createGroupInternal(groupData), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<GroupData>> createGroupInternal(GroupData groupData) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/groups"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(groupData);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<GroupData>(){});
    }

    /**
     * Запрос получения списка записей справочника групп пользователей с пегинацией
     * GET /auth/v1/groups
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод групп пользователей
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<GroupData> getEmployeeGroupList(Pageable pageable, long timeout) throws RestClientException {
        return getEmployeeGroupList(pageable).get(timeout);
    }

    /**
     * Запрос получения списка записей справочника групп пользователей с пегинацией асинхронно
     * GET /auth/v1/groups
     *
     * @return Постраничный вывод групп пользователей
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<GroupData>> getEmployeeGroupList(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(getEmployeeGroupListInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<GroupData>>> getEmployeeGroupListInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/groups"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<GroupData>>(){});
    }

    /**
     * Получить список элементов справочника групп пользователей без учета прав
     * GET /auth/v1/private/groups
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public EmployeeGroupRs getEmployeeGroupListWithOutPermissions(long timeout) throws RestClientException {
        return getEmployeeGroupListWithOutPermissions().get(timeout);
    }

    /**
     * Получить список элементов справочника групп пользователей без учета прав асинхронно
     * GET /auth/v1/private/groups
     *
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<EmployeeGroupRs> getEmployeeGroupListWithOutPermissions() throws RestClientException {
        return new ClientRestResult<>(getEmployeeGroupListWithOutPermissionsInternal(), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<EmployeeGroupRs>> getEmployeeGroupListWithOutPermissionsInternal() throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/private/groups"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<EmployeeGroupRs>(){});
    }

    /**
     * Получение информации о группе пользователей
     * GET /auth/v1/groups/{id}
     *
     * @param id Идентификатор группу пользователей (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Информация о группе пользователей
     * @throws RestClientException в случае неудачи
    */
    public GroupData getGroupDataById(Long id, long timeout) throws RestClientException {
        return getGroupDataById(id).get(timeout);
    }

    /**
     * Получение информации о группе пользователей асинхронно
     * GET /auth/v1/groups/{id}
     *
     * @param id Идентификатор группу пользователей (required)
     * @return Информация о группе пользователей
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<GroupData> getGroupDataById(Long id) throws RestClientException {
        return new ClientRestResult<>(getGroupDataByIdInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<GroupData>> getGroupDataByIdInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getGroupDataById"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/groups/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<GroupData>(){});
    }

    /**
     * Обновление информации о группе пользователей
     * PUT /auth/v1/groups/{id}
     *
     * @param id Идентификатор группы пользователей (required)
     * @param groupData Новые данные о группе пользователей (optional)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void updateGroupById(Long id, GroupData groupData, long timeout) throws RestClientException {
        return updateGroupById(id, groupData).get(timeout);
    }

    /**
     * Обновление информации о группе пользователей асинхронно
     * PUT /auth/v1/groups/{id}
     *
     * @param id Идентификатор группы пользователей (required)
     * @param groupData Новые данные о группе пользователей (optional)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> updateGroupById(Long id, GroupData groupData) throws RestClientException {
        return new ClientRestResult<>(updateGroupByIdInternal(id, groupData), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> updateGroupByIdInternal(Long id, GroupData groupData) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "updateGroupById"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/groups/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(groupData);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
