/*
 * API микросервиса авторизации
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.auth;

import ru.softlab.efr.services.auth.exchange.model.CreateSessionRs;
import ru.softlab.efr.services.auth.exchange.model.ErrorData;
import ru.softlab.efr.services.auth.exchange.model.MobileLoginRequest;
import ru.softlab.efr.services.auth.exchange.model.ShortCodeRequest;
import ru.softlab.efr.services.auth.exchange.model.ShortCodeResponse;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением auth-service
 **/
@Component
public class MobileAuthServiceClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public MobileAuthServiceClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "auth-service";
    }


    /**
     * Сервис авторизации для мобильных устройств
     * POST /auth/v1/mobile-login
     *
     * @param body  (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public CreateSessionRs mobileAuthService(MobileLoginRequest body, long timeout) throws RestClientException {
        return mobileAuthService(body).get(timeout);
    }

    /**
     * Сервис авторизации для мобильных устройств асинхронно
     * POST /auth/v1/mobile-login
     *
     * @param body  (required)
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<CreateSessionRs> mobileAuthService(MobileLoginRequest body) throws RestClientException {
        return new ClientRestResult<>(mobileAuthServiceInternal(body), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<CreateSessionRs>> mobileAuthServiceInternal(MobileLoginRequest body) throws RestClientException {
        if (body == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "body", "mobileAuthService"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/mobile-login"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(body);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<CreateSessionRs>(){});
    }

    /**
     * Регистрация короткого кода мобильного устройства
     * POST /auth/v1/short-code
     *
     * @param body  (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ShortCodeResponse mobileAuthShortCodeService(ShortCodeRequest body, long timeout) throws RestClientException {
        return mobileAuthShortCodeService(body).get(timeout);
    }

    /**
     * Регистрация короткого кода мобильного устройства асинхронно
     * POST /auth/v1/short-code
     *
     * @param body  (required)
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<ShortCodeResponse> mobileAuthShortCodeService(ShortCodeRequest body) throws RestClientException {
        return new ClientRestResult<>(mobileAuthShortCodeServiceInternal(body), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<ShortCodeResponse>> mobileAuthShortCodeServiceInternal(ShortCodeRequest body) throws RestClientException {
        if (body == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "body", "mobileAuthShortCodeService"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/short-code"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(body);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<ShortCodeResponse>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
