/*
 * API микросервиса авторизации
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.auth;

import ru.softlab.efr.services.auth.exchange.model.ErrorData;
import ru.softlab.efr.services.auth.exchange.model.PasswordCheckSettings;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением auth-service
 **/
@Component
public class PasswordCheckSettingsClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public PasswordCheckSettingsClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "auth-service";
    }


    /**
     * Запрос получения настроек требований к сложности паролей
     * GET /auth/v1/settings/password
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public PasswordCheckSettings getPasswordCheckSettings(long timeout) throws RestClientException {
        return getPasswordCheckSettings().get(timeout);
    }

    /**
     * Запрос получения настроек требований к сложности паролей асинхронно
     * GET /auth/v1/settings/password
     *
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<PasswordCheckSettings> getPasswordCheckSettings() throws RestClientException {
        return new ClientRestResult<>(getPasswordCheckSettingsInternal(), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<PasswordCheckSettings>> getPasswordCheckSettingsInternal() throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/settings/password"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<PasswordCheckSettings>(){});
    }

    /**
     * Запрос обновления настроек требований к сложности паролей
     * PUT /auth/v1/settings/password
     *
     * @param updatePasswordCheckSettingsRq Тело запроса обновления настроек требований к сложности паролей (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void updatePasswordCheckSettings(PasswordCheckSettings updatePasswordCheckSettingsRq, long timeout) throws RestClientException {
        return updatePasswordCheckSettings(updatePasswordCheckSettingsRq).get(timeout);
    }

    /**
     * Запрос обновления настроек требований к сложности паролей асинхронно
     * PUT /auth/v1/settings/password
     *
     * @param updatePasswordCheckSettingsRq Тело запроса обновления настроек требований к сложности паролей (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> updatePasswordCheckSettings(PasswordCheckSettings updatePasswordCheckSettingsRq) throws RestClientException {
        return new ClientRestResult<>(updatePasswordCheckSettingsInternal(updatePasswordCheckSettingsRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> updatePasswordCheckSettingsInternal(PasswordCheckSettings updatePasswordCheckSettingsRq) throws RestClientException {
        if (updatePasswordCheckSettingsRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "updatePasswordCheckSettingsRq", "updatePasswordCheckSettings"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/settings/password"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(updatePasswordCheckSettingsRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
