/*
 * API микросервиса авторизации
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.services.auth;

import ru.softlab.efr.services.auth.exchange.model.CreateSessionRq;
import ru.softlab.efr.services.auth.exchange.model.CreateSessionRs;
import ru.softlab.efr.services.auth.exchange.model.ErrorData;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением auth-service
 **/
@Component
public class SessionClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private String applicationName;
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public SessionClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
        this.applicationName = "auth-service";
    }


    /**
     * Запрос создания сессии (аутентификация)
     * POST /auth/v1/session
     *
     * @param createSessionRq Тело запроса создания сессии (аутентификация) (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public CreateSessionRs authenticate(CreateSessionRq createSessionRq, long timeout) throws RestClientException {
        return authenticate(createSessionRq).get(timeout);
    }

    /**
     * Запрос создания сессии (аутентификация) асинхронно
     * POST /auth/v1/session
     *
     * @param createSessionRq Тело запроса создания сессии (аутентификация) (required)
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<CreateSessionRs> authenticate(CreateSessionRq createSessionRq) throws RestClientException {
        return new ClientRestResult<>(authenticateInternal(createSessionRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<CreateSessionRs>> authenticateInternal(CreateSessionRq createSessionRq) throws RestClientException {
        if (createSessionRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "createSessionRq", "authenticate"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/session"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(createSessionRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<CreateSessionRs>(){});
    }

    /**
     * Запрос закрытия сессии
     * DELETE /auth/v1/session/{id}
     *
     * @param id Идентификатор сессии (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void closeSession(String id, long timeout) throws RestClientException {
        return closeSession(id).get(timeout);
    }

    /**
     * Запрос закрытия сессии асинхронно
     * DELETE /auth/v1/session/{id}
     *
     * @param id Идентификатор сессии (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> closeSession(String id) throws RestClientException {
        return new ClientRestResult<>(closeSessionInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> closeSessionInternal(String id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "closeSession"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/session/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.DELETE, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Запрос обновления сессии
     * POST /auth/v1/session/{id}
     *
     * @param id Идентификатор сессии (required)
     * @param officeName Наименование офиса пользователя (required)
     * @param branchName Наименование филиала пользователя (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void updateSession(String id, String officeName, String branchName, long timeout) throws RestClientException {
        return updateSession(id, officeName, branchName).get(timeout);
    }

    /**
     * Запрос обновления сессии асинхронно
     * POST /auth/v1/session/{id}
     *
     * @param id Идентификатор сессии (required)
     * @param officeName Наименование офиса пользователя (required)
     * @param branchName Наименование филиала пользователя (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> updateSession(String id, String officeName, String branchName) throws RestClientException {
        return new ClientRestResult<>(updateSessionInternal(id, officeName, branchName), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> updateSessionInternal(String id, String officeName, String branchName) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "updateSession"));
        if (officeName == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "officeName", "updateSession"));
        if (branchName == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "branchName", "updateSession"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(applicationName)
            .path(cutComments("/auth/v1/session/{id}")).variable("id", id);

        if (officeName != null)
            uriBuilder.param("officeName", officeName);
        if (branchName != null)
            uriBuilder.param("branchName", branchName);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
